In [4]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 250.9/250.9 KB 3.4 MB/s eta 0:00:00a 0:00:01
Collecting et-xmlfile
  Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5
WARNING: You are using pip version 22.0.4; however, version 24.3.1 is available.
You should consider upgrading via the '/Users/andreneptunejr/.pyenv/versions/3.8.16/bin/python3.8 -m pip install --upgrade pip' command.

In [5]:
# Import necessary libraries
import pandas as pd

# Define file paths
movies_path = 'movies.csv'
ratings_path = 'ratings (3).xlsx'

# Load the movies dataset
movies_df = pd.read_csv(movies_path)

# Load the ratings dataset
ratings_df = pd.read_excel(ratings_path)

# Display the first few rows of each dataset
movies_head = movies_df.head()
ratings_head = ratings_df.head()

movies_head, ratings_head

(   movieId                               title  \
 0        1                    Toy Story (1995)
 1        2                      Jumanji (1995)
 2        3             Grumpier Old Men (1995)
 3        4            Waiting to Exhale (1995)
 4        5  Father of the Bride Part II (1995)

                                         genres
 0  Adventure|Animation|Children|Comedy|Fantasy
 1                   Adventure|Children|Fantasy
 2                               Comedy|Romance
 3                         Comedy|Drama|Romance
 4                                       Comedy  ,
    userId  movieId  rating  timestamp
 0       1        1     4.0  964982703
 1       1        3     4.0  964981247
 2       1        6     4.0  964982224
 3       1       47     5.0  964983815
 4       1       50     5.0  964982931)

In [6]:
# Perform different types of joins between ratings and movies on 'movieId'

# Inner Join: Keep only matching movieId values
inner_merged = ratings_df.merge(movies_df, on='movieId', how='inner')

# Left Join: Keep all rows from ratings
left_merged = ratings_df.merge(movies_df, on='movieId', how='left')

# Right Join: Keep all rows from movies
right_merged = ratings_df.merge(movies_df, on='movieId', how='right')

# Outer Join: Keep all rows from both datasets
outer_merged = ratings_df.merge(movies_df, on='movieId', how='outer')

inner_merged_head = inner_merged.head()
left_merged_head = left_merged.head()
right_merged_head = right_merged.head()
outer_merged_head = outer_merged.head()

inner_merged_head, left_merged_head, right_merged_head, outer_merged_head

(   userId  movieId  rating   timestamp             title  \
 0       1        1     4.0   964982703  Toy Story (1995)
 1       5        1     4.0   847434962  Toy Story (1995)
 2       7        1     4.5  1106635946  Toy Story (1995)
 3      15        1     2.5  1510577970  Toy Story (1995)
 4      17        1     4.5  1305696483  Toy Story (1995)

                                         genres
 0  Adventure|Animation|Children|Comedy|Fantasy
 1  Adventure|Animation|Children|Comedy|Fantasy
 2  Adventure|Animation|Children|Comedy|Fantasy
 3  Adventure|Animation|Children|Comedy|Fantasy
 4  Adventure|Animation|Children|Comedy|Fantasy  ,
    userId  movieId  rating  timestamp                        title  \
 0       1        1     4.0  964982703             Toy Story (1995)
 1       1        3     4.0  964981247      Grumpier Old Men (1995)
 2       1        6     4.0  964982224                  Heat (1995)
 3       1       47     5.0  964983815  Seven (a.k.a. Se7en) (1995)
 4       1       50     5.0  964982931   Usual Suspects, The (1995)

                                         genres
 0  Adventure|Animation|Children|Comedy|Fantasy
 1                               Comedy|Romance
 2                        Action|Crime|Thriller
 3                             Mystery|Thriller
 4                       Crime|Mystery|Thriller  ,
    userId  movieId  rating     timestamp             title  \
 0     1.0        1     4.0  9.649827e+08  Toy Story (1995)
 1     5.0        1     4.0  8.474350e+08  Toy Story (1995)
 2     7.0        1     4.5  1.106636e+09  Toy Story (1995)
 3    15.0        1     2.5  1.510578e+09  Toy Story (1995)
 4    17.0        1     4.5  1.305696e+09  Toy Story (1995)

                                         genres
 0  Adventure|Animation|Children|Comedy|Fantasy
 1  Adventure|Animation|Children|Comedy|Fantasy
 2  Adventure|Animation|Children|Comedy|Fantasy
 3  Adventure|Animation|Children|Comedy|Fantasy
 4  Adventure|Animation|Children|Comedy|Fantasy  ,
    userId  movieId  rating     timestamp             title  \
 0     1.0        1     4.0  9.649827e+08  Toy Story (1995)
 1     5.0        1     4.0  8.474350e+08  Toy Story (1995)
 2     7.0        1     4.5  1.106636e+09  Toy Story (1995)
 3    15.0        1     2.5  1.510578e+09  Toy Story (1995)
 4    17.0        1     4.5  1.305696e+09  Toy Story (1995)

                                         genres
 0  Adventure|Animation|Children|Comedy|Fantasy
 1  Adventure|Animation|Children|Comedy|Fantasy
 2  Adventure|Animation|Children|Comedy|Fantasy
 3  Adventure|Animation|Children|Comedy|Fantasy
 4  Adventure|Animation|Children|Comedy|Fantasy  )

In [7]:
import numpy as np

# Define bins for np.digitize
bins = [1, 2, 3, 4, 5]
ratings_df['digitized_rating'] = np.digitize(ratings_df['rating'], bins)

# Define custom bins and labels for pd.cut
cut_bins = [0, 2, 3.5, 4.5, 5]
cut_labels = ['Low', 'Medium', 'High', 'Very High']
ratings_df['cut_rating'] = pd.cut(ratings_df['rating'], bins=cut_bins, labels=cut_labels)

# Use pd.qcut to divide ratings into quantiles
ratings_df['qcut_rating'] = pd.qcut(ratings_df['rating'], 4, labels=['Q1', 'Q2', 'Q3', 'Q4'])

# Display the transformed ratings DataFrame
ratings_transformed_head = ratings_df.head()

ratings_transformed_head

   userId  movieId  rating  timestamp  digitized_rating cut_rating qcut_rating
0       1        1     4.0  964982703                 4       High          Q3
1       1        3     4.0  964981247                 4       High          Q3
2       1        6     4.0  964982224                 4       High          Q3
3       1       47     5.0  964983815                 5  Very High          Q4
4       1       50     5.0  964982931                 5  Very High          Q4